// Place all the styles related to the promotions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";
@import "variables";

.all-promotion-list {
  width: 90%;
  margin: 1em auto auto auto;
}

.all-promotion-list-item {
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  margin-bottom: 1em;
  background-color: #fff;
  padding: 1em;
  display: flex;

  .cover {
    margin-right: 1em;

    img {
      width: 120px;
      height: 120px;
      object-fit: contain;
    }
  }

  .content {
    h2 {
      font-size: 1.3em;
      margin: 0 0 .1em 0;

      a {
        color: $brand_color;
      }
    }

    .shop_name,
    .rule {
      font-size: .8em;
      color: navy;

      i {
        margin-right: .25em;
      }
    }

    .rule {
      margin-bottom: .5em;
    }

    p {
      margin: 0 0 .5em 0;
    }
  }
}

#promotions-show {
  .image {
    background-color: #fff;
    text-align: center;
    margin: 1em 0;
    padding: 1em;

    img {
      max-width: 100%;
      max-height: 360px;
      object-fit: contain;
    }
  }

  h2 {
    font-size: 1em;
    margin: .5em;
    padding-left: .5em;
    border-width: 0 0 0 5px;
    border-style: solid;
    border-color: #f30;
  }

  div.shop,
  div.description,
  div.url,
  div.map {
    @include content-box;
  }
}
