<input id="MenuButton" type="checkbox">
<div id="Menu">
  <nav>
    <ul>
      <li>
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <%= link_to "本日のサービスデー", root_path %>
      </li>
      <li>
        <i class="fa fa-list-ul" aria-hidden="true"></i>
        <%= link_to "全てのサービスデー", promotions_path %>
      </li>
    </ul>
  </nav>
</div>
